body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    positive: absolute;
    font-family: Source Sans Pro, sans-serif;
    color:black;
    font-size:18px;
    scroll-behavior: smooth;
    height:100%;
}

.home_Background{
   padding-top:75px;
   background-image: url("../img/sfBack.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   padding-bottom: 75px;
   padding-left: 50px;
   padding-right: 50px;
   height:100%;
}
#main{
   position: relative;
   background-color: rgba(0, 0, 0, 0.6);
   height:100%;
}
