.home_Background{
   background-image: url("../img/sfBack.jpg");
   height:100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.home_Background #mainContent{
   color:white;
   background-color: rgba(0, 0, 0, 0.6);
   height:90%;
   width: 70%;
   margin-top: 5%;
   margin-left: 15%;
   margin-right: 15%;

   display:inline-block;
}

.home_Background #mainContent #main_Text{
   font-size: 50px;
   font-weight: bold;
   text-align: center;
   padding-top: 15%;
   padding-bottom: 20%;
}

.home_Background #mainContent #socialMediaBar{
   text-align: center;
}
.home_Background #mainContent #socialMediaBar ul{
   display: inline-block;
   text-align: center;

}
.home_Background #mainContent #socialMediaBar li{
   display:inline;
}
.home_Background #mainContent .main_line{
   display:block;
   width:50%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
}
.home_Background #mainContent .main_line a{
   text-decoration: none;
   text-align: center;
   background-color: green;
   color:White;
   padding:10px;
   border-radius: 5px;
   width:125px;
}
.home_Background #mainContent .main_line a:hover{
   background-color: red;
}
.home_Background #mainContent .main_line .learnMore{
   display:inline-block;
   float:left;
}
.home_Background #mainContent .main_line .portfolio{
   display:inline-block;
   float:right;
}
